<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Long Term Momentum Trading Bot</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>

<body>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head is-light">
            <nav class="navbar ">
                <div class="container" >
                    <div class="navbar-brand">
                        <a class="navbar-item" href="/">
                          <img src="https://scontent-lax3-1.cdninstagram.com/v/t51.2885-19/s150x150/31752455_242915236259325_3265964741868126208_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_ohc=LqROgigaPlQAX-WKPpP&tp=1&oh=1645e421cb9472138075dafc29bca9ee&oe=60269581">
                        </a>
                      </div>

                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('main.index') }}" class="navbar-item">
                                Home
                            </a>
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main.profile') }}" class="navbar-item">
                                Profile
                            </a>
                            {% endif %}
                            <a href="{{ url_for('algo.scoreboard') }}" class="navbar-item">
                                Scoreboard
                            </a>
                            {% if not current_user.is_authenticated %}
                            <a href="{{ url_for('auth.login') }}" class="navbar-item">
                                Login
                            </a>
                            <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                                Sign Up (Beta)
                            </a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('algo.display') }}" class="navbar-item">
                                Algorithm
                            </a>
                            <a href="{{ url_for('algo.orders') }}" class="navbar-item">
                                Orders
                            </a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                                Logout
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>
