<table class = "table is-bordered is-narrow is-hoverable is-fullwidth" id="table1">
    
    <thead>
      <tr>
        <th class="has-text-centered">Rank</th>
        <th class="has-text-centered">Stock</th>
        <th class="has-text-centered">Score</th>
      </tr>
    </thead>

    {% for name in weightList %}
    {% if weightList[name][1] == 1 %}
    <tr class = "is-selected">
    {% else %}
    <tr>
    {% endif %}  
        <th class="has-text-centered">{{ weightList[name][1] }}</th> 
        <td class="has-text-centered">{{ name }}</td> 
        <td class="has-text-centered">{{ weightList[name][0] }}</td>
    </tr>
  {% endfor %}

  </table>